*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* header-section */

#head-bars{
  display: flex;
  justify-content: space-between;
  padding: 2em 5%;
}

#head-bars .logo{
 font-size: 20px;
}
#bar{
  display: none;
}
#navbar{
  display: flex;
  column-gap: 40px;
}
#navbar a{
  color: rgba(0, 0, 0, 0.733);
  font-weight: 500;
}
#navbar a:hover{
  color: blue;
}
/*#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}*/

/* hero-section */

#hero{
  background-image: url(../images/E-images/banner-3.png);
  width: 100%;
  height: 90vh;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.first-container{
  padding: 5% 10%;
}
#hero .first-container p{
  color: #000;
  line-height: 2;
}
.discount{
  color: red;
}
.first-container h2{
  color: #000;
  font-size: 40px;
  margin-bottom: 30px;
}
.first-container p{
  font-size: 18px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.641);
  line-height: 2;
}
.first-container .btn1{
  padding: 8px 20px;
  background-color: blue;
  border: none;
  border-radius: 8px;
  color: #fff;
}
.second{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 25px;
}

/* feature-section */
#feature{
  position: relative;
}
.container-text{
  padding-left: 20px;
}
.sp-container{
  padding: 20px 5%;
}
.sp-container img{
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.sec-container{
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container-text h4{
  color: rgba(0, 0, 0, 0.551);
  font-size: 18px;
  margin-bottom: 10px;
}
.second-pera{
  font: 18px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ratting{
  color: #ff00ff;
  font-size: 20px;
  padding-left: 20px;
}
.span{
  font-size: 18px;
  color: red;
}
.star{
  color: tomato;
  margin-left: 10px;
  font-weight: 700;
}
#feature .sp-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  row-gap: 70px;
  column-gap: 40px;
}
.sec-container img{
  transition: all .40s;
}
.sp-container img:hover{
  transform: scale(0.9);
}

/* service-section */

#service{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 10vh;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px 6%;
}
.services{
  background: gray;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .4s ease;
}
.services:hover{
  transform: scale(0.9);
}
.services h5{
  width: 90%;
  text-align: center;
  font-size: 14px;
  background-color: pink;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 20px auto;
}

/* banner-section */
.banner-text{
  text-align: left;
  padding: 0 40% 30px 10%;
  line-height: 2;
}
.banner-text h3{
  font-size: 25px;
  padding: 20px 0;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}
.banner-text p{
  font-family:'Times New Roman', Times, serif;
  line-height: 20px;
  font-size: 18px;
}
#banner{
  margin-top: 5rem;
}
.banner-head{
  text-align: center;
  padding: 30px;
  font-size: 25px;
}
.banner-section{
  background-image: url(../images/banner2.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  padding: 10% 10px;
}
.span-banner{
  font-size: 20px;
  color: aqua;
  font-weight: 900;
}
#product-section{
  margin-top: 60px;
}
#product-section h2{
  text-align: center;
  padding: 20px;
}
#product-section .all-products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  align-items: center;
  gap: 20px;
  padding: 10px 5%;
  row-gap: 30px;
}

.image1 img{
  width: 100%;
  height: auto;
  transition: .3s ease;
  border-radius: 8px;
}
.image1 img:hover{
  transform: scale(0.9);
}
.image1 h1{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.514);
  margin-bottom: 7px;
  padding: 0 20px;
}
.image1 p{
  padding: 0 20px;
}
.price{
  color: red;
}
.ratting1{
  color: red;
  margin-left: 20px;
  font-size: 20px;
}
.star1{
  color: rgba(0, 0, 0, 0.586);
  font-weight: bolder;
  margin-left: 10px;
}
#feature{
  margin-bottom: 70px;
}

#feature .sp-container{
  margin-bottom: 80px;
}
.array{
  position: absolute;
  display: flex;
  right: 20%;
  bottom: 0;
}
.array {
  font-size: 22px;
  background-color: blue;
  gap: 30px;
  color: #fff;
  padding: 5px 20px;
}

/* review-section */
.reviews{
  text-align: center;
  margin-top: 40px;
  padding: 20px;
}
#client-reviews .client-pic{
  width: 100%;
  height: auto;
  text-align: center;
}
.client-pic img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.reviews-text{
  padding: 20px 30%;
  text-align: center;
  line-height: 2;
}
.reviews-text h2{
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.534);
}
/* section-newslatter */

#news-latter{
  margin-top: 6rem;
}
.update-cart{
  width: 80%;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
#news-latter .cart{
  text-align: center;
}
.cart img{
text-align: center;
width: 100%;
height: auto;
border-radius: 5px;
}
.cart h5{
  color: rgba(0, 0, 0, 0.636);
}
.cart h4{
  padding: 5px;
}
.cart p{
  line-height: 1.5;
}
.cart h6{
  padding: 10px;
  font-size: 18px;
}


/* section-newsletter */
#newsletters{
  background-image: url(../images/banner/b2.jpg);
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  margin-top: 40px;
}
.newstext{
  width: 50%;
  padding: 4% 6%;
}
.newstext h4{
  color: #fff;
  font-size: 20px;
}
.newstext p{
color: #fff;
margin-top: 20px;
}
.form{
  width: 50%;
  padding: 4% 6%;
}
.form input{
  border: none;
  padding: 2% 8%;
  border-radius: 8px;
}
.form .normal{
  background-color: blue;
  border: none;
  border-radius: 8px;
  transition: .3s ease;
  color: #fff;
  padding: 2% 5%;
}
.form .normal:hover{
  background: #ff00ff;
  cursor: pointer;
}

/* footer-section */

.last{
  display: flex;
}
.col {
padding: 20px 0 20px 5%;
margin-top: 40px;
}
.about{
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.601);
  line-height: 2;
}
.about a{
  color: #000;
}
footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
}
.col .logo{
  margin-top: 30px;
}
.install{
  line-height: 2;
}
.install h4{
  color: #000000a5;
}
.install p{
  padding: 10px 0;
}
.copyright{
  text-align: center;
  padding: 30px 0;
}
.log{
  line-height: 2;
}
.follow .icon{
  font-size: 25px;
  color: blue;
  cursor: pointer;
  transition: .3s ease;
}
.icon i:hover{
  color: #ff00ff;
  transform: scale(0.9);
}


/* shop.html */
#page-header{
  background-image: url(../images/banner/b19.jpg);
  width: 100%;
  height: auto;
}
.first-container h2{
  color: #fff;
}
.first-container p{
  color: #fff;
}


/* blog.html */
#page-head{
  background-image: url(../images/banner/b2.jpg);
}
#banner-page{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.banner-contant{
  display: flex;
 
}
.banner-image2 {
  width: 50%;
}

.banner-image2 img{
  width: 80%;
  height: 60vh;
  margin-left: 20px;
}
.banner-text2{
  width: 50%;
  height: auto;
  padding: 7% 0;
  line-height: 1.5;
}
.banner-text2 p{
  line-height: 2;
}
.banner-text2 h4{
  padding: 30px 0;
}

.banner-text2 h5{
  padding: 20px 0;
}
/* about.html */
#main-page{
  background-image: url(../images/banner4.webp);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  padding: 80px;
}
#about-main{
  display: flex;
}
.about-image{
  width: 50%;
  height: auto;
}
.about-image img{
  width: 100%;
}
.about-text h2{
  padding: 20px 0;
}

.first-container1{
  text-align: center;
  padding: 50px 0;
  line-height: 2;
}
.about-text{
  width: 50%;
  padding: 10% 20px;
  line-height: 1.5;
}
.btn1{
  background: blue;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  color: #fff;
  margin-top: 30px;
}


/* contact.html */
#contact-page{
  background-image: url(../images/banner1.avif);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
#main-page .first-container{
  padding-left: 30%;
}

/* contact-section */
#location{
display: flex;
margin-top: 80px;
}
.location-text{
  width: 40%;
  padding: 80px 40px;
  line-height: 1.5;
}
.location-text h4{
  padding: 20px 0;
}
.location-text p{
  font-size: 14px;
  color: #00000093;
  line-height: 2;
}
.location-map{
  width: 60%;
}
.location-map iframe{
  width: 100%;
  border-radius: 8px;
}
#form{
  margin-top: 140px;
  padding: 20px;
}
.input{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  row-gap: 20px;
  height: auto;
}
.first-side{
  width: 50%;
}
.input input{
  padding: 10px 0;
  outline: none;
  margin-left: 30px;
}
.input textarea{
  padding: 40px;
  color: #0000008e;
  font-weight: bold;
  outline: none;
  margin-left: 30px;
}
.person{
  display: flex;
  padding: 40px 40px;
}
.status{
  padding: 0 30px;
}
.status h4{
  padding: 10px 0;
}
#form h1{
  padding: 20px 0;
} 
#form-people{
  margin-top: 80px;
  display: flex;
}
#form-people .persons{
  width: 50%;
}
#videos{
  margin-top: 80px;
}
.list li{
  margin-top: 30px;
}
.first-side{
  margin-top: 10vh;
  text-align: center;
}
.first-side h1{
  padding: 20px 0;
}
#videos video{
  width: 100%;
  height: 80vh;
  text-align: center;
}
#videos h1{
  text-align: center;
}
.video{
  display: flex;
}
.list li{
  display: flex;
}
li i{
  padding: 5px;
  font-size: 18px;
  color: #000000a5;
}